Library
Logs
obj
Temp
Build
UserSettings/Layouts
UserSettings
*.csproj
Assets/Settings
.vs/skl-40-pyramid-quest-tile-explorer
.vs/skl-40-pyramid-quest-tile-explorer
skl-40-pyramid-quest-tile-explorer.sln
/build_output/
/_[Bb]uild/
/Assets/[Mm]ockup
/Mockup.*
._*
/._*
/fastlane/*.p8
.DS_Store
/[Ss]creen[Ss]hot/

/Assets/StreamingAssets/google-services-desktop.json

# Old Firebase config folders (moved to root)
/Assets/FirebaseConfig/DEV*
/Assets/FirebaseConfig/Production*
.dev/
.vs/
*.sln
*.csproj
*.slnx
Assets/_Sandbox
Assets/_Sandbox.meta
.claude/
.vscode/
**/FR2_Cache.asset*
iOS.txt
